dom-selector,
dom-selector * {
    margin: 0 !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

dom-selector {
    z-index: 999999999999999999;
    position: fixed;
    background: #1e90ff77;
}

.surfing {
    display: block;
}

.notSurfing {
    display: none;
}

dom-selector.surfing::before {
    box-sizing: content-box;
    content: " ";
    position: absolute;
    top: calc(0px - var(--mt) - var(--bt));
    right: calc(0px - var(--mr) - var(--br));
    bottom: calc(0px - var(--mb) - var(--bb));
    left: calc(0px - var(--ml) - var(--bl));
    border-width: var(--mt) var(--mr) var(--mb) var(--ml);
}

dom-selector.surfing::after {
    box-sizing: content-box;
    content: " ";
    inset: 0;
    position: absolute;
    border: 0 solid #20c02077;
}

#dom-selector-data {
    padding: 8px;
    position: fixed;
    inset: 0 auto auto 0;
    box-shadow: 2px 2px 4px 2px #0002, 0 0 0 1px #0001;
    background: #fff;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: stretch; /* This ensures that the buttons stretch to fill the dialog */
}

.button-row {
    display: flex;
    justify-content: space-between; /* This spaces the two buttons equally apart */
}
.button-row button {
    flex-basis: 48%; /* Adjusts each button to take up roughly half of the container minus margin */
    color: #1C6DCF;
    background-color: #E6F0FC;
}

#dom-selector-data #cancelBtn {
    color: #F63941;
    background-color: #FFEAE9;
}

#dom-selector-data #confirmBtn {
    color: #72C218;
    background-color: #F0F9E6;
}

#dom-selector-data button{
    font-size: 14px;
    margin: 5px !important;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#button-container button:hover {
    transform: translateY(-2px); /* Slightly raises the button when hovered */
}